apiVersion: v1
kind: Secret
metadata:
  name: connector-config
type: Opaque
stringData:
  # # # REPLACE placeholders!!! # # #  
  
 # - - - Database provider - - - 
  # Connection string, replace the <YOUR-DATABASE-PASSWORD> with your actual password as configured in mssql-statefulset-secrets.yml
  SQLDB_Connection: "Server=mssqlinst.mssql.svc.cluster.local;Database=DurableDB;User ID=sa;Password=<YOUR-DATABASE-PASSWORD>;Persist Security Info=False;TrustServerCertificate=True;Encrypt=True;"

  # - - - AWS IAM identifiers to access X-Ray API - - - 
  # Role based access, for using temporal credentials (recommended, optional)
  AWS_RoleArn: "<YOUR-ROLE-ARN>",
  # https://docs.aws.amazon.com/general/latest/gr/xray.html#xray_region
  # us-east-1, ap-southeast-2, etc.
  AWS_RegionEndpoint: "<YOUR-AWS-REGION>"
  # Basis IAM credentials
  AWS_IdentityKey: "<YOUR-AWS-IDENTITY-KEY>"
  AWS_SecretKey: "<YOUR-AWS-SECRET-KEY>"

  # - - - Workflow configuration - - - 
  # Polling interval/windows for retrieving trace telemetry from X-Ray API. Default is 180 (3 min)
  PollingIntervalSeconds: "300"  
  # When polling is restarted, the maximum timespan to catch up, before the timeframe gets reset. A too large window can cause a polling jam. Default is 900 (15 min).
  DefaultMaximumReplayHistorySeconds: "900"
  # If set to True the workflow is automatically started (or re-started in case it was terminated or failed) when the api/WorkflowWatchdog is called. Default is "False".
  AutoStart: "True"
  # Enables JsonPayloadCompression If set to True (Recommended) the internal processing of tracedetails is compressed. Improves workflow performance and reduces I/O load on the database, but slightly increases CPU usage. Default is "False". 
  EnableJsonPayloadCompression: "True"

  # - - - Target OTLP configuration - - -
  # Target OTLP endpoint for sending telemetry. For Dynatrace this may look like this: "https://<YOUR-TENANT-ID>.live.dynatrace.com/api/v2/otlp/" 
  OTLP_ENDPOINT: "<YOUR-OTLP-TARGET-ENDPOINT>"
  # Optional: OTLP header authorization (only used for traces). For Dynatrace provide an API Token with OTLP Trace Ingest permissions in the following format "Api-Token <YOUR-DYNATRACE-API-TOKEN>"
  OTLP_HEADER_AUTHORIZATION: "<YOUR-OPTIONAL-OTLP-HEADER-AUTHORIZATION>"

  # - - - Workflow telemetry - - -
  # Enable workflow metrics sent via OTLP. Default is "False".
  EnableMetrics: "True" 
  # Metrics exporter configuration. See also: https://opentelemetry.io/docs/languages/sdk-configuration/otlp-exporter/
  # Metrics OTLP protocol. Possible values: "grpc", "http/protobuf". Default is "grpc". 
  # OTEL_EXPORTER_OTLP_METRICS_PROTOCOL: "<PROTOCOL>" 
  # OTLP endpoint for sending metrics. If not set, OTLP_ENDPOINT will be used.
  # OTEL_EXPORTER_OTLP_METRICS_ENDPOINT :"<YOUR-OTLP-TARGET-ENDPOINT>" 
  # OTLP metrics headers for e.g. authorization
  # OTEL_EXPORTER_OTLP_METRICS_HEADERS: "<YOUR-OPTIONAL-OTLP-HEADERS>" 

  # - - - TESTING ONLY - - -
  # Uses a mocked XRay API Client that simulates API responses
  # SimulatorMode: "XRayApi" 
  # Number of total traces returned for a TraceSummaries call
  # SIM_TraceSummariesResponseCount: "100"
  # Maxiumum number of trace per TraceSummaries request returned (to force paging)
  # SIM_TraceSummariesPageSize: "25"
  # Each simulated trace contains 5 segments. Configure if segments should be returned in a single batch ("None"), constantly batch ("Always") or randomly (~25%) batch. If batching is enabled, 2 batches are returned. 
  # SIM_BatchTraceSegments: "Random" 
